<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--bind 注入-->
    <bean id="bind" class="com.dao.ower.vo.Blind"></bean>

    <!--事件监听者注入-->
    <bean id="applicationStartLister" class="com.dao.ower.listen.ApplicationStartLister"></bean>
</beans>
